html, body {
    height: 100%; /* S'assure que les deux éléments prennent toute la hauteur de la fenêtre */
    margin: 0;   /* Supprime les marges par défaut qui peuvent créer un défilement */
    padding: 0;  /* Supprime les paddings par défaut */
}


h1{
text-align: center;
font-style: italic;
/*font-size: 100px; a changer*/
font-size: 8vw;
}
body{
    background-color: plum;
    background-image:url("cancer.jpg");
   background-size: cover;
   background-repeat: initial;
   background-position: center;
    

    /*border-radius: 12px; /* Coins arrondis pour la carte */
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Grande ombre portée pour un effet flottant */
    
    /* GESTION DE LA TAILLE ET DU CENTRAGE */
    /*margin: 40px auto; /* Marge au-dessus/dessous et centrage automatique */
    padding: 30px; /* Espace intérieur pour le contenu */
    max-width: 900px; /* Limite la largeur de la page/carte */
    /*min-height: 80vh; /* S'assure qu'elle est visible même avec peu de contenu */
margin: 0 auto;
}
.carte {
    background-color: pink;
    border-radius: 10px; /* Rendre les coins arrondis */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /* Donner un effet de relief doux */
    
    padding: 30px; /* Espacement intérieur pour que le texte ne touche pas les bords */
    margin: 40px auto; /* Marge autour et centrage horizontal */
    /* max-width: 800px; Limiter la largeur de la carte */
    max-width: 90%;
}
footer{
    text-decoration: double;
    text-align: center;
}